@using Soup.Manga.Logic
<h3>Mastermind</h3>
@inject NavigationManager navmanager
@inject MastermindService service;
@page "/Mastermind"

<div> 

    I have chosen a number, can you guess it?

</div>

<input type="number" @bind-value="@inputNumber"/> 

<button @onclick="Guess">Guess</button>

<p @attributes=ShowCounter role="status">Total guesses so far: @currentCount</p>

<div>
    @result
</div>

@code {

    int inputNumber{ get; set; }
    string result{ get;set; }
    private int currentCount = 0;

    public Dictionary<string, object> ShowCounter { get; set; }

    //create an instance of the attribute on the loading of a page
    protected override void OnInitialized()
    {
        base.OnInitialized();
        ShowCounter = new();
        ShowCounter.Add("style", "display:none");
    }
    //when this is called, change the style on an attribute 
    public void Show()
    {
        ShowCounter["style"] = "display:block";
    }
    //This is run when the Guess button is clicked, prompting the service, updating the tracker and showing the result 
    public void Guess()
    {
        result= service.GuessNumber(inputNumber);
        IncrementCount();
        Show();
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
