<h3>Mastermind</h3>
@inject NavigationManager navmanager
@page "/Mastermind"

<div> 

    I have chosen a number, can you guess it?

</div>
@code {
    var randomNumber = new Random(ra);
    randomNumer
}
