<div>
<h3>Child</h3>
<span>This is @Name.</span>
</div>
<p/>

<button @onclick="@(()=> SayHI.InvokeAsync("Hello ^-^"))">Call back</button>
@code {
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string NameOfChild { get; set; }
    [Parameter]
    public EventCallback<string> SayHI { get; set; }
}
