
<div>
    <h2>BEHOLD, a component</h2>
    <div>
        The answer to the Ultimate Question of Life, the Universe, and Everything is @CurrentCounterValue
    </div>
</div>

@code {
    [Parameter]
    public int CurrentCounterValue { get; set; }
}
