

<div>
    <h2>BEHOLD, a component</h2>
    <div>
        The answer to the Ultimate Question of Life, the Universe, and Everything is @CounterValue
    </div>
</div>

@code {
    
    private int CounterValue = 42;
}
